In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("../Homework_13/Resources/applicants_data.csv")

# Review the DataFrame
applicant_data_df.head(5)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df.drop(columns=['EIN','NAME'], inplace=True)

# Review the DataFrame
applicant_data_df.head(2)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.drop(columns=["STATUS","ASK_AMT","IS_SUCCESSFUL"]).columns)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [12]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

encoded_data

dtype('float64')

In [15]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns = enc.get_feature_names_out(categorical_variables))

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [16]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df[['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']]], join='outer', axis=1)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [18]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df[['IS_SUCCESSFUL']]

# Display a sample of y
y.head(2)

   IS_SUCCESSFUL
0              1
1              1

In [19]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head(2)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590

### Step 6: Split the features and target sets into training and testing datasets.

In [21]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [22]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [29]:
X_train

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
10679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
5052,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
9990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
25173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
11405,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
32511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
5192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
12172,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
33003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000

In [31]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [32]:
# Define the number of neurons in the output layer
number_output_neurons = len(y_train.iloc[0])

# Review the number of output neurons
number_output_neurons

1

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the second layer
print([hidden_nodes_layer1])

[58]

In [34]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = hidden_nodes_layer1 // 2

# Review the number hidden nodes in the second layer
print([hidden_nodes_layer2])

[29]

In [36]:
# Create the Sequential model instance
nn = Sequential()

# Add the first hidden layer
nn.add(Dense(
    units=hidden_nodes_layer1,
    input_dim=number_input_features,
    activation='relu'
))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(
    units=number_output_neurons,
    activation='relu'
))

# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [38]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation='relu'))

In [39]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons,activation='relu'))

In [40]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 1)                 59

 dense_2 (Dense)             (None, 58)                116

 dense_3 (Dense)             (None, 29)                1711

 dense_4 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,702
Trainable params: 8,702
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [42]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, batch_size=2048)

Epoch 1/100
13/13 [==============================] - 1s 6ms/step - loss: 1.8811 - accuracy: 0.4673
Epoch 2/100
13/13 [==============================] - 0s 7ms/step - loss: 1.0603 - accuracy: 0.4825
Epoch 3/100
13/13 [==============================] - 0s 7ms/step - loss: 0.8320 - accuracy: 0.5317
Epoch 4/100
13/13 [==============================] - 0s 7ms/step - loss: 0.7538 - accuracy: 0.6487
Epoch 5/100
13/13 [==============================] - 0s 6ms/step - loss: 0.7087 - accuracy: 0.6876
Epoch 6/100
13/13 [==============================] - 0s 7ms/step - loss: 0.6868 - accuracy: 0.6926
Epoch 7/100
13/13 [==============================] - 0s 10ms/step - loss: 0.6695 - accuracy: 0.6951
Epoch 8/100
13/13 [==============================] - 0s 7ms/step - loss: 0.6573 - accuracy: 0.6952
Epoch 9/100
13/13 [==============================] - 0s 8ms/step - loss: 0.6374 - accuracy: 0.7007
Epoch 10/100
13/13 [==============================] - 0s 7ms/step - loss: 0.6236 - accuracy: 0.7109
Epoch 11/100
13/13 [==============================] - 0s 7ms/step - loss: 0.6206 - accuracy: 0.7154
Epoch 12/100
13/13 [==============================] - 0s 8ms/step - loss: 0.6183 - accuracy: 0.7151
Epoch 13/100
13/13 [==============================] - 0s 9ms/step - loss: 0.6165 - accuracy: 0.7169
Epoch 14/100
13/13 [==============================] - 0s 8ms/step - loss: 0.6150 - accuracy: 0.7194
Epoch 15/100
13/13 [==============================] - 0s 8ms/step - loss: 0.6127 - accuracy: 0.7196
Epoch 16/100
13/13 [==============================] - 0s 7ms/step - loss: 0.6109 - accuracy: 0.7216
Epoch 17/100
13/13 [==============================] - 0s 8ms/step - loss: 0.6093 - accuracy: 0.7238
Epoch 18/100
13/13 [==============================] - 0s 9ms/step - loss: 0.6081 - accuracy: 0.7243
Epoch 19/100
13/13 [==============================] - 0s 8ms/step - loss: 0.6072 - accuracy: 0.7245
Epoch 20/100
13/13 [==============================] - 0s 9ms/step - loss: 0.6063 - accuracy: 0.7241
Epoch 21/100
13/13 [==============================] - 0s 9ms/step - loss: 0.6053 - accuracy: 0.7244
Epoch 22/100
13/13 [==============================] - 0s 9ms/step - loss: 0.6031 - accuracy: 0.7232
Epoch 23/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5999 - accuracy: 0.7233
Epoch 24/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5981 - accuracy: 0.7248
Epoch 25/100
13/13 [==============================] - 0s 9ms/step - loss: 0.5965 - accuracy: 0.7251
Epoch 26/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5958 - accuracy: 0.7250
Epoch 27/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5950 - accuracy: 0.7251
Epoch 28/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5946 - accuracy: 0.7250
Epoch 29/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5943 - accuracy: 0.7254
Epoch 30/100
13/13 [==============================] - 0s 9ms/step - loss: 0.5936 - accuracy: 0.7260
Epoch 31/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5935 - accuracy: 0.7261
Epoch 32/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5932 - accuracy: 0.7257
Epoch 33/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5933 - accuracy: 0.7258
Epoch 34/100
13/13 [==============================] - 0s 6ms/step - loss: 0.5923 - accuracy: 0.7262
Epoch 35/100
13/13 [==============================] - 0s 9ms/step - loss: 0.5920 - accuracy: 0.7275
Epoch 36/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5916 - accuracy: 0.7286
Epoch 37/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5915 - accuracy: 0.7276
Epoch 38/100
13/13 [==============================] - 0s 9ms/step - loss: 0.5913 - accuracy: 0.7275
Epoch 39/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5910 - accuracy: 0.7278
Epoch 40/100
13/13 [==============================] - 0s 9ms/step - loss: 0.5908 - accuracy: 0.7282
Epoch 41/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5906 - accuracy: 0.7282
Epoch 42/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5900 - accuracy: 0.7282
Epoch 43/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5903 - accuracy: 0.7283
Epoch 44/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5900 - accuracy: 0.7280
Epoch 45/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5896 - accuracy: 0.7281
Epoch 46/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5892 - accuracy: 0.7282
Epoch 47/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5891 - accuracy: 0.7285
Epoch 48/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5889 - accuracy: 0.7283
Epoch 49/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5888 - accuracy: 0.7282
Epoch 50/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5887 - accuracy: 0.7282
Epoch 51/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5887 - accuracy: 0.7282
Epoch 52/100
13/13 [==============================] - 0s 9ms/step - loss: 0.5885 - accuracy: 0.7283
Epoch 53/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5882 - accuracy: 0.7286
Epoch 54/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5885 - accuracy: 0.7284
Epoch 55/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5887 - accuracy: 0.7284
Epoch 56/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5884 - accuracy: 0.7290
Epoch 57/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5877 - accuracy: 0.7293
Epoch 58/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5878 - accuracy: 0.7292
Epoch 59/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5876 - accuracy: 0.7294
Epoch 60/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5874 - accuracy: 0.7286
Epoch 61/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5875 - accuracy: 0.7289
Epoch 62/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5874 - accuracy: 0.7290
Epoch 63/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5872 - accuracy: 0.7295
Epoch 64/100
13/13 [==============================] - 0s 10ms/step - loss: 0.5872 - accuracy: 0.7292
Epoch 65/100
13/13 [==============================] - 0s 9ms/step - loss: 0.5870 - accuracy: 0.7290
Epoch 66/100
13/13 [==============================] - 0s 9ms/step - loss: 0.5869 - accuracy: 0.7289
Epoch 67/100
13/13 [==============================] - 0s 9ms/step - loss: 0.5868 - accuracy: 0.7296
Epoch 68/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5868 - accuracy: 0.7296
Epoch 69/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5869 - accuracy: 0.7290
Epoch 70/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5866 - accuracy: 0.7293
Epoch 71/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5864 - accuracy: 0.7296
Epoch 72/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5862 - accuracy: 0.7295
Epoch 73/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5857 - accuracy: 0.7295
Epoch 74/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5858 - accuracy: 0.7299
Epoch 75/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5856 - accuracy: 0.7296
Epoch 76/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5859 - accuracy: 0.7299
Epoch 77/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5854 - accuracy: 0.7301
Epoch 78/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5855 - accuracy: 0.7298
Epoch 79/100
13/13 [==============================] - 0s 6ms/step - loss: 0.5855 - accuracy: 0.7298
Epoch 80/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5853 - accuracy: 0.7304
Epoch 81/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5851 - accuracy: 0.7292
Epoch 82/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5848 - accuracy: 0.7306
Epoch 83/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5847 - accuracy: 0.7306
Epoch 84/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5848 - accuracy: 0.7304
Epoch 85/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5842 - accuracy: 0.7309
Epoch 86/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5843 - accuracy: 0.7304
Epoch 87/100
13/13 [==============================] - 0s 9ms/step - loss: 0.5844 - accuracy: 0.7306
Epoch 88/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5844 - accuracy: 0.7309
Epoch 89/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5841 - accuracy: 0.7300
Epoch 90/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5845 - accuracy: 0.7304
Epoch 91/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5842 - accuracy: 0.7302
Epoch 92/100
13/13 [==============================] - 0s 6ms/step - loss: 0.5842 - accuracy: 0.7302
Epoch 93/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5838 - accuracy: 0.7310
Epoch 94/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5838 - accuracy: 0.7313
Epoch 95/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5835 - accuracy: 0.7310
Epoch 96/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5836 - accuracy: 0.7309
Epoch 97/100
13/13 [==============================] - 0s 8ms/step - loss: 0.5814 - accuracy: 0.7313
Epoch 98/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5823 - accuracy: 0.7315
Epoch 99/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5837 - accuracy: 0.7316
Epoch 100/100
13/13 [==============================] - 0s 7ms/step - loss: 0.5837 - accuracy: 0.7319

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=0)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [46]:
# Set the model's file path
file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [47]:
# Define the the number of inputs (features) to the model
number_input_features_A1 = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [49]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = len(y_train.iloc[0])

In [56]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) // 2

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + 1) // 2

print(hidden_nodes_layer1_A1)
print(hidden_nodes_layer2_A1)

58
29

In [58]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [62]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features_A1, activation='relu'))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation='tanh'))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 58)                6786

 dense_6 (Dense)             (None, 29)                1711

 dense_7 (Dense)             (None, 1)                 30

 dense_8 (Dense)             (None, 58)                116

 dense_9 (Dense)             (None, 1)                 59

 dense_10 (Dense)            (None, 58)                116

 dense_11 (Dense)            (None, 1)                 59

=================================================================
Total params: 8,877
Trainable params: 8,877
Non-trainable params: 0
_________________________________________________________________

In [63]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [64]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50, batch_size=1024)

Epoch 1/50
26/26 [==============================] - 1s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 2/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 3/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 4/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 5/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 6/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 7/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 8/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 9/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 10/50
26/26 [==============================] - 0s 8ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 11/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 12/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 13/50
26/26 [==============================] - 0s 7ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 14/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 15/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 16/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 17/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 18/50
26/26 [==============================] - 0s 7ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 19/50
26/26 [==============================] - 0s 7ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 20/50
26/26 [==============================] - 0s 7ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 21/50
26/26 [==============================] - 0s 7ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 22/50
26/26 [==============================] - 0s 7ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 23/50
26/26 [==============================] - 0s 7ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 24/50
26/26 [==============================] - 0s 7ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 25/50
26/26 [==============================] - 0s 7ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 26/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 27/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 28/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 29/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 30/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 31/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 32/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 33/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 34/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 35/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 36/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 37/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 38/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 39/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 40/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 41/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 42/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 43/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 44/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 45/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 46/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 47/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 48/50
26/26 [==============================] - 0s 5ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 49/50
26/26 [==============================] - 0s 6ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 50/50
26/26 [==============================] - 0s 7ms/step - loss: 8.2288 - accuracy: 0.4665

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [66]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.5988 - accuracy: 0.7261 - 903ms/epoch - 3ms/step
Loss: 0.5987654328346252, Accuracy: 0.726064145565033

In [67]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 8.1631 - accuracy: 0.4708 - 517ms/epoch - 2ms/step
Loss: 8.163082122802734, Accuracy: 0.4707871675491333

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE